* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Barlow-Regular";
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../fonts/Barlow-Regular.ttf");
  font-size: 400px;
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Fraunces 9pt";
  src: url("../fonts/Fraunces_9pt-Black.ttf");
}
header {
  margin-top: 45px;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.nav__link {
  font-family: "Barlow-Bold";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition: 0.2s ease-out;
}
.nav__link:hover {
  color: #333D4B;
}

.hero {
  margin-top: 44px;
  margin-bottom: 148px;
  width: 1280px;
  height: 450px;
  background-image: url(../img/sub-bak-img.png);
}
.hero__text {
  width: 445px;
  padding-top: 137px;
  padding-left: 85px;
}
.hero__title {
  margin-bottom: 24px;
  font-family: "Fraunces 9pt";
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}
.hero__subtitle {
  font-size: 12px;
  line-height: 26px;
  color: #FEFCF7;
}

.work {
  position: relative;
  background: #2C343E;
  border-radius: 10px;
  padding-bottom: 100px;
  padding-left: 85px;
  padding-top: 100px;
  margin-bottom: 168px;
}
.work__title {
  margin-bottom: 80px;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  line-height: 32px;
  color: #FDD6BA;
}
.work__cards {
  display: flex;
  gap: 95px;
  margin-top: 67px;
}
.work__card {
  width: 285px;
}
.work__card__title {
  margin: 38px 0 43px;
  width: 255px;
  font-family: "Fraunces 9pt";
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
}
.work__card__sibtitle {
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}

.border {
  z-index: 1;
  top: 114px;
  left: 95px;
  position: absolute;
  border: 2px solid #FDD6BA;
  border-width: 1px;
  width: 760px;
  height: 1px;
}

.circles {
  display: flex;
  gap: 349px;
}

.circle {
  position: relative;
  z-index: 5;
  width: 32px;
  height: 32px;
  background: #2C343E;
  border: 2px solid #0E8784;
  border-radius: 50%;
}

.num {
  font-family: "Fraunces 9pt";
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}

.conteyner {
  width: 1111px;
  margin: 0 auto;
}

.subricise {
  display: flex;
  justify-content: space-between;
}

.sub__left {
  width: 255px;
}

.left__line {
  margin: 24px 0;
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  border-bottom: 1px solid #83888F;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.left__line span {
  margin-right: 25px;
}

.sub__right {
  width: 730px;
}

.divs {
  margin-bottom: 88px;
}

.div__cards {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.divs__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
}

.div {
  width: 288px;
  padding: 32px 24px 84px;
  background: #F4F1EB;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.div__green {
  background: #0E8784;
}
.div__title {
  margin-bottom: 24px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}
.div__subtitle {
  font-family: "Barlow-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.div:hover {
  background: #FDD6BA;
}

.sub__right__descr {
  width: 730px;
  padding: 27px 64px;
  background: #2C343E;
  border-radius: 10px;
}

.descr__subtitle {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.descr__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}
.descr__title span {
  color: #0E8784;
}

.descr__btn {
  margin-top: 40px;
  margin-left: 514px;
  border: 3px solid transparent;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 31px;
  font-family: "Fraunces 9pt";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  transition: 0.5s;
}
.descr__btn:hover {
  background: #66D2CF;
  cursor: pointer;
}
.descr__btn:active {
  transform: scale(1.2);
}

.footer {
  background: #2C343E;
  padding: 47px 85px;
  margin-top: 200px;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link {
  display: flex;
  gap: 32px;
}
.footer .link2:hover {
  color: #FFFFFF;
}
.footer-messenger {
  display: flex;
  gap: 25px;
}/*# sourceMappingURL=subscrib.css.map */