@font-face {
    font-family: "Barlow-Regular";
    src: url("../fonts/Barlow-Regular.ttf");
    font-size: 400px;
 }
 @font-face {
    font-family: "Barlow-Bold";
    src: url("../fonts/Barlow-Bold.ttf");
 
 }
 @font-face {
    font-family: "Fraunces 9pt";
    src: url("../fonts/Fraunces_9pt-Black.ttf");
 }