.choose{
    position: relative;
    padding-top: 100px;
    margin-top: 200px;
    background: #2C343E;
    border-radius: 10px;
    width: 1280px;
    height: 577px;
    margin-bottom: 351px;



    &__title{
        font-family: "Fraunces 9pt";
        font-size: 40px;
        line-height: 48px;
        text-align: center;
     
        color: #FEFCF7;
        margin-bottom: 32px;}


        &__subtitle{
            margin: 0 auto;
            width: 540px;
            font-size: 16px;
            line-height: 26px;
         
            text-align: center;
            
            color: #FEFCF7;
            
            mix-blend-mode: normal;
            opacity: 0.8;}
 
 }
 
 
 .card__container{width: 1110px; 
    position: absolute;
    z-index: 5;
    bottom: -151px;
    left: 85px;



    .cards{display: flex; gap: 30px;
        text-align: center;
       }
 

 .card{ 
    
    padding: 83px 48px 48px 48px;
    width: 350px;
    background: #0E8784;
    border-radius: 8px;


    &__title{
        margin-top: 56px;
     margin-bottom: 24px;
     
     font-family: "Fraunces 9pt";
     font-size: 24px;
     line-height: 32px;
     
     color: #FFFFFF;
     }
     &__subtitle{
        
        font-size: 16px;
        line-height: 26px;
     
        color: #FEFCF7;}
}
}
 